.l-navbar{
    width:100%;
}

.navbar{
    display:none;
    @include mediaquery(large){
        display:block;
        display:grid;
        grid-template-rows:1fr;
        grid-template-columns:repeat(2,1fr);
    }
}

.navbar__movil{
    display: flex;
    justify-content: space-between;
}

.navbar__movil > span{
    display:block;
    @include mediaquery(large){
        display:none;
    }
}

.navbar__photo{
    justify-self: right;
    width:40px;
    height:40px;
    box-shadow: 0 2px 2px 0 rgba(153,153,153,.14),0 3px 1px -2px rgba(153,153,153,.2),0 1px 5px 0 rgba(153,153,153,.12);
    cursor:pointer;
    border-radius:50%;
}


.navbar__button-circle{
    justify-self: left;
    box-shadow: 0 2px 2px 0 rgba(153,153,153,.14),0 3px 1px -2px rgba(153,153,153,.2),0 1px 5px 0 rgba(153,153,153,.12);
    background-color: white;
    color: black;
    cursor: pointer;
    border:none;
    text-align: center;
    border-radius:50%;
    width:40px;
    height:40px;
}

.navbar__content{
    display:flex;
}

.navbar__content > span{
    display:none;
    @include mediaquery(large){
        display:inline-block;
        margin-left:12px;
        align-self: center;
    }
}

// Hamburguer
.hamburger {
    // padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    &:hover {
        opacity: 0.7;
    }
    &.is-active:hover {
        opacity: 0.7;
    }
    &.is-active .hamburger__inner,
    &.is-active .hamburger__inner::before,
    &.is-active .hamburger__inner::after{
        background-color: #000;
    }


    @include mediaquery(large){
        display:none;
    }

}

.hamburger__box{
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger__inner::before, .hamburger__inner::after {
    content: "";
    display: block;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    bottom: -10px;
}

.hamburger--slider .hamburger__inner {
    top: 2px;
}

.hamburger--slider .hamburger__inner::before {
    top: 8px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}
.hamburger--slider .hamburger__inner::after {
    top: 16px;
}

.hamburger--slider.is-active .hamburger__inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger__inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}

.hamburger--slider.is-active .hamburger__inner::after {
    transform: translate3d(0, -16px, 0) rotate(-90deg);
}
