.wrapper{

    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    @include mediaquery(large){
        grid-template-columns: $sidebar calc(100% - #{$sidebar});
    }
}

.main-sidebar{
    display:none;
    @include mediaquery(large){
        display:block;
    }
}

.sidebar{
    position:fixed;
    width:$sidebar;
    z-index:var(--z-normal);
    height:100vh;
    right:0;
    transition: right .3s;

    @include mediaquery(large){
        left:0;
    }
}

.sidebar__relative{
    position:relative;
    z-index:var(--z-intermedio);
    height:100%;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    background-color:rgba(0,0,0,.76);
}

.sidebar__background{
    position:absolute;
    z-index:var(--z-back);
    height:100%;
    width:100%;
    display:block;
    top:0;
    left:0;
    background-size: cover;
    background-position: center center;
}

.main-panel{
    padding:20px 20px;
    background-color:#EEEEEE;
}

.display-block{
    display:block;
}

.contenedor{
    padding:20px 0px;
}
